.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1; 
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  transition: opacity 1s ease-in;
}

.feynman__link:hover {
  opacity: .5;
}