.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

h2, h3, div, section, p {
  display: block;
}

.description {
  margin: 100px 0;
}

.two-columns {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child{
  margin-bottom: 0;
}

.digits {
  margin: 100px 0;
}

.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  padding-top: 20px;
  margin: 0 auto;
}

.table {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1100px;
}

.table__sell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin: 20px 0 0 0;
 }

.kaufman {
  background-color: black;
  padding: 90px 0;
}

.section-title_theme-dark {
  color: white;
  line-height: 1.15;
  font-weight: bold;
  font-size: 60px;
  margin-top: 0;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
}
